$color-secondary: #eceff1;
$color-light: #37474f;
$color-dark: #263238;

#quote-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: $color-secondary;
  color: $color-dark;

  .quote {
    text-align: center;

    #text {
      font-size: 1.75rem;
    }

    #author {
      font-weight: bold;
    }
  }

  .quoteBox-buttons {
    display: flex;
    justify-content: space-between;

    .btn {
      border: none;
      outline: none;
      background-color: $color-dark;
      color: $color-secondary;
      padding: 0.6rem;
      cursor: pointer;
      transition: all 0.3s;
      font-size: inherit;
      border-radius: 4px;
      margin-bottom: 10px;

      &:hover {
        background-color: $color-light;
      }
    }

    a {
      text-decoration: none;
      font-size: inherit;
    }
  }
}

@media screen and (max-width: 450px) {
  #quote-box {
    text-align: center;
    max-height: 90vh;
    min-width: 85vw;
    .quote {
      #text {
        font-size: 1.4rem;
      }
    }
    .quoteBox-buttons {
      flex-direction: column;
    }
  }
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  #quote-box {
    max-height: 70vw;
    min-width: 60vw;
    .quote {
      #text {
        font-size: 1.5rem;
      }
    }
  }
}
