@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// $color-primary: #eeeeee;
$color-primary: #cfd8dc;

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 200px;
  background-color: $color-primary;
}